version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Setup, Test & Build
          command: |
            npm install
            npm test
            npm run build
            docker login -u "${DOCKER_USER}" -p "${DOCKER_PASS}"
            docker build -t slack-activity-feed:${CIRCLE_SHA1} .

  deploy:
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Create AWS credentials manually
          command: |
            mkdir ~/.aws
            touch ~/.aws/config
            chmod 600 ~/.aws/config
            echo "[profile eb-cli]" > ~/.aws/config
            echo "aws_access_key_id=${AWS_ACCESS_KEY_ID}" >> ~/.aws/config
            echo "aws_secret_access_key=${AWS_SECRET_ACCESS_KEY}" >> ~/.aws/config
      - run:
          name: Install aws cli tools
          command: |
            apk add --no-cache \
                py-pip=9.0.0-r1
            pip install awscli --upgrade --user
            pip install awsebcli --upgrade --user
      - run:
          name: Build & push Docker image
          command: |
            docker login -e "${DOCKER_EMAIL}" -u "${DOCKER_USER}" -p "${DOCKER_PASS}"
            docker build -t slack-activity-feed:${CIRCLE_SHA1} .

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
