version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Test
          command: |
            npm install
            npm test
      - run:
          name: Build
          command: |
            npm run build
            docker login -u "${DOCKER_USER}" -p "${DOCKER_PASS}"
            docker build -t ${DOCKER_USER}/slack-activity-feed:${CIRCLE_SHA1} .
            docker push ${DOCKER_USER}/slack-activity-feed:${CIRCLE_SHA1}

  deploy:
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Create AWS credentials manually
          command: |
            mkdir ~/.aws
            touch ~/.aws/config
            chmod 600 ~/.aws/config
            echo "[profile eb-cli]" > ~/.aws/config
            echo "aws_access_key_id=$AWS_ACCESS_KEY_ID" >> ~/.aws/config
            echo "aws_secret_access_key=$AWS_SECRET_ACCESS_KEY" >> ~/.aws/config
      - run:
          name: Install aws cli tools
          command: |
            pip install awscli --upgrade --user
            pip install awsebcli --upgrade --user
      - run:
          name: Push docker image
          command: |
            docker login -u "${DOCKER_USER}" -p "${DOCKER_PASS}"
            docker images

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
